/**
* Template Name: Ninestars - v2.0.0
* Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "quicksand", "Roboto light","Open Sans", sans-serif;
  color: #FAFAFA;
}

a {
  color: #505050;
}

a:hover {
  color: #0b6bd3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "quicksand", "roboto","Raleway", sans-serif;
  color: #505050;
}

@media (min-width: 768px) {
  .color-gold {
    color: #FBCA64;
    font-weight: 400;
    font-size: 60px;
    line-height: 10px;
  }
}

@media (max-width: 768px) {
  .color-gold {
    color: #FBCA64;
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;
  }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #FAFAFA;
  color: #505050;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #F9BC32;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #7a6960;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 72px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

/* Parties avant sélection */
.nav-menu a {
  display: block;
  position: relative;
  color: #505050;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

/* Partie sélectionnée */
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #F9BC32;
  text-decoration: none;
}

/* S'inscrire à AKO avant de cliquer */
.nav-menu .get-started a {
  background: #FAFAFA;
  color: #505050;
  border-radius: 10px;
  margin: 0 15px;
  padding: 10px 25px;
}

/* S'inscrire à AKO */
.nav-menu .get-started a:hover {
  background: #F9BC32;
  color: #fff;
}

/* Fond des déroulants */
.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #FAFAFA;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

/* AKO pour qui ? */
.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  color: #505050;
}

/* AKO pour qui sélectionné */
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #F9BC32;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */



.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: #FAFAFA;
  transition: 0.4s;
  text-align: center;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Couleur du texte de base */
.mobile-nav a {
  display: block;
  position: relative;
  color: #505050;
  padding: 10px 20px;
  font-weight: 600;
  transition: 0.3s;
}

/* Couleur du texte sélectionné */
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #F9BC32;
  text-decoration: none;
}

/* Bouton */
.mobile-nav .get-started a {
  background: #FAFAFA;
  color: #505050;
  border-color: #F9BC32;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  margin: 15px;
  padding: 10px 25px;
  text-align: center;
}

/* Bouton sélectionné */
.mobile-nav .get-started a:hover {
  background: #F9BC32;
  color: #fff;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa0";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 22px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #505050;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(78, 64, 57, 0.9);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

/* Boite titre*/
.hero {
  width: 100%;
  height: 90vh;
  border-bottom: 0px solid #505050;
  margin: 72px 0 -72px 0;
  background-color: #FAFAFA;
}


/* texte titre*/
.hero h1 {

  margin: 30px 0 10px 0;
  font-size: 100%;
  font-weight: 600;
  line-height: 40px;
  font-family: "quicksand", roboto;
  color: #505050;
  text-align: center;

}

.hero .h1bis {

  margin: 30px 0 10px 0;
  font-size: 100%;
  font-weight: 400;
  line-height: 36px;
  font-family: roboto;
  color: #505050;
  text-align: center;
}


.hero h2 {
  color: #505050;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 100%;
}

.hero .btn-get-started {

  font-family: "quicksand", "roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 30px;
  height: 46px;
  transition: 0.5s;
  margin: auto;
  color: #fff;
  background: #F9BC32;
  border-color: #F9BC32;
  border-width: 0px;
}

.hero .btn-get-started:hover {
  background: #fff;
  color: #F9BC32;
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}




@media (min-width: 991px) {
  .hero {
    background-attachment: fixed;
  }

  .hero h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  .hero h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 10px;
  }

}

@media (max-width: 991px) {
  .hero {
    height: calc(100vh - 72px);
    margin: 30px 0 -72px 0;
  }

  .hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  .hero .hero-img {
    text-align: center;
  }
  .hero .hero-img img {
    width: 70%;
  }

  .hero h1 {
    font-size: 2em;
    line-height: 1.1em;
  }

  .hero h2 {
    font-size: 1.1em;
    line-height: 1.2em;
  }

}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8em;
    line-height: 1.8em;
  }

  .hero h2 {
    font-size: 1.1em;
    line-height: 1.1em;
    margin-bottom: 30px;
    padding: 20px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .hero .hero-img img {
    width: 90%;
  }

  .hero h1 {
    font-size: 2.5em;
    line-height: 1em;
    margin:10px;
    padding: 20px;
  }

  .hero h2 {
    font-size: 0.9em;
    line-height: 1em;
    margin-bottom: 10px;
    margin: 10px;
  }

}

@media (max-width: 375px) {

  .hero .hero-img img {
    width: 90%;
  }

  .hero h1 {
    font-size: 1.5em;
    line-height: 1.1em;
    margin:10px;
    padding: 10px;
  }

  .hero h2 {
    font-size: 0.8em;
    line-height: 1em;
    margin-bottom: 5px;
    margin: 5px;
  }

}


@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}


@media (max-width: 575px) {
  .hero .hero-indep {
    width: 100%;
    background-attachment: fixed;
  }
  }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #fff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #505050;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #505050;
}

.section-title p::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #505050;
  bottom: 0;
  left: calc(50% - 30px);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
  font-weight: 400;
  font-size: 28px;
  color: #505050;
}

.right {
  font-weight: 400;
  font-size: 28px;
  color: #505050;
  text-align: right;
}

.centerh3 {
  font-weight: 400;
  font-size: 28px;
  color: #505050;
  text-align: center;
}

.about h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  color: #505050;
  text-align: center;
}

.about i {
  font-size: 40px;
  margin-top: 15px;
  color: #505050;
}

.about p {
  font-size: 15px;
  color: #5a6570;
  text-align: center;
  margin-bottom: 0px;
}

.about .pright {
  font-size: 15px;
  color: #5a6570;
  text-align: right;
}

.pcenter {
  font-size: 1em;
  color: #505050;
  text-align: center;
  margin-bottom: 0px;
}


.ppres {
  font-size: 0.9em;
  color: #FAFAFA;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0px;
}

.petitp {
  font-family : quicksand;
  font-size: 0.8em;
  margin: 0;
  padding: O 0;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0px;

}

.h3pres {
  font-weight: 400;
  font-size: 28px;
  color: #FAFAFA;
}

@media (min-width: 992px) {

  .about .pright {
    font-weight: 400;
    font-size: 15px;
    color: #505050;
    text-align: right;
  }

  .about .pleft {
    font-weight: 400;
    font-size: 15px;
    color: #505050;
    text-align: left;
  }

  }

@media (max-width: 991px) {
  .about .about-img img {
    max-width: 70%;
  }

  .about h3 {
    font-weight: 400;
    font-size: 28px;
    color: #505050;
    text-align: center;
  }

  .about .pright {
    font-size: 15px;
    color: #5a6570;
    text-align: center;
  }

}

@media (max-width: 767px) {
  .about .about-img img {
    max-width: 90%;
  }

  .about h3 {
    font-weight: 400;
    font-size: 1.2em;
    color: #505050;
    text-align: center;
  }

}


/*---------
# App
----------*/




.typewriter h5 {
  color: #505050;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {

  from { width: 0 }
  to { width: 100% }
}


/*------------------------------------------------------------------------------------
#testimonials
----------------------------------------------------------------------------------*/

.testimonial6 {
  font-family: "quicksand", "Montserrat", sans-serif;
  color: #505050;
  font-weight: 300;
}

.testimonial6 h1,
.testimonial6 h2,
.testimonial6 h3,
.testimonial6 h4,
.testimonial6 h5,
.testimonial6 h6 {
  color: #505050;
}

.testimonial6 .font-weight-medium {
  font-weight: 600;
}

.testimonial6 h5 {
    line-height: 1em;
    font-size: 1em;
}

.testimonial6 .subtitle {
  color: #505050;
  line-height: 1.2em;
	font-size: 1.1em;
}

.testimonial6 .testi6 {
  border-right: 1px solid rgba(164, 167, 186, 1);
}

.testimonial6 .testi6 .nav-link {
  border-radius: 0px;
  margin: 8px -2px 8px 0;
}

.testimonial6 .testi6 .nav-link img {
  width: 70px;
  opacity: 0.5;

}

.testimonial6 .testi6 .nav-link.active {
  background: transparent;
  color: #707691;
  border-right: 3px solid #707691;
}

.testimonial6 .testi6 .nav-link.active img {
  opacity: 1;
}

.testimonial6 .btn-danger {
    background: #fff !important;
    border: 1px solid #ff4d7e !important;
}

.testimonial6 .btn-md {
    padding: 18px 0px;
    width: 60px;
    height: 60px;
    font-size: 20px;
}

@media (max-width: 767px) {
	.testimonial6 .testi6 .nav-link {
    margin: 0px 0px -2px 0;
    padding: 10px;
	}
	.testimonial6 .testi6 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    border-right: 0px solid rgba(164, 167, 186, 1);
    border-bottom: 1px solid rgba(164, 167, 186, 1);
    margin-bottom: 40px;
	}
	.testimonial6 .testi6 .nav-link img {
    width: 40px;
	}
	.testimonial6 .testi6 .nav-link.active {
			border-right: 0px solid #707691;
			border-bottom: 3px solid #707691;
	}
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {

  padding: 15px;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  background: #fff;
  box-shadow: 0 0 0 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: #fff;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #A4A7BA;
}

.iconbis {

  line-height: 1;
  color: #fff;
}

.iconbis:hover {
  line-height: 1;
  color: #FEECC7;
  transform: translateY(-5px);
}

.pj {
  font-family : quicksand;
  font-size: 0.8em;
  margin: 0;
  padding: 0 0;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase

}




.services .title {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 1em;
}

.services .title a {
  color: #505050;
}

.services .description {
  font-size: 0.8em;
  line-height: 1em;
  margin-bottom: 0;
  color: #505050;
  text-align: center;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #212529;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #eb5d1e;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(122, 105, 96, 0.6);
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
}

.portfolio .portfolio-wrap img {
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  top: calc(50% - 32px);
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #eb5d1e;
  margin: 0 4px;
  font-size: 18px;
  line-height: 1;
  background-color: #fff;
  padding-top: 6px;
  padding-right: 1px;
  border-radius: 50px;
  text-align: center;
  width: 32px;
  height: 32px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a i {
  line-height: 1;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: #eb5d1e;
  color: #fff;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.portfolio .portfolio-wrap:hover::before {
  left: 0;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  top: calc(50% - 16px);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  padding: 0 0 20px 25px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #505050;
  font-size: 1em;
  font-weight: 600;
  color: #F9BC32;
}

.faq .faq-list i {
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 6px;
}

.faq .faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #505050;
}

.faq .faq-list a.collapse {
  color: #F9BC32;
}

.faq .faq-list a.collapsed {
  color: #505050;
}

.faq .faq-list a.collapsed:hover {
  color: #F9BC32;
}

.faq .faq-list a.collapsed i::before {
  content: "\eab2" !important;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
  border-radius: 10px
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;

  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}

.team .member .social a:hover {

}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {

  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  height: 80%;
  opacity: 0.5;
  transition: 0.3s;
}

.clients .owl-item img:hover {
  opacity: 1;
}

.clients .owl-nav, .clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fbe2d8 !important;
}

.clients .owl-dot.active {
  background-color: #eb5d1e !important;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #505050;
  float: left;
  width: 44px;
  height: 44px;
  background: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #505050;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #505050;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #F9BC32;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #F9BC32;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #FAFAFA;
  border-bottom: 3px solid #FAFAFA;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  color: #505050;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #505050;
  background: #505050;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #505050;
  background: #F9BC32;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  color: #505050;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #FAFAFA;
  border-top-color: #FAFAFA;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  color: #505050;
}

.contact .php-email-form input {
  height: 44px;
  color: #505050;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #505050;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ffffff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Incubateurs
--------------------------------------------------------------*/
.imgsize {
  max-height: 120px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# Ateliers
--------------------------------------------------------------*/

.btndiscover {
  background-color: #F9E7BE;
  border-radius: 20px;
  color: #505050;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #505050;
  font-size: 14px;
  background: #fff;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #FAFAFA;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #505050;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 4px;
  width: calc(100% - 100px);
  color: #505050;
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #505050;
  color: #FAFAFA;
  transition: 0.3s;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #F9BC32;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5c5c5c;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #212529;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #F9BC32;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #505050;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #F9BC32;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #FAFAFA;
  color: #505050;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #F9BC32;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #505050;
}

#footer .credits a {
  color: #505050;
}

@media (max-width: 575px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
    padding: 3px 0;
  }
}

.hero .cta-email {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .cta-email .email-input {
  margin-bottom: 10px;
  font-family: "quicksand","Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 4px 8px;
  box-shadow: inset -4px -4px 10px -10px #505050;
  border: 0px solid #cec2a7;
  text-align: center;
  border-radius: 30px;
  width: 100%;
}

.hero .cta-email label {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 4px 8px;
  color: black;
}
.hero .cta-email .submit-btn {
  width: 100%;
}

.mc-field-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bg-light-ako {
  background-color: white;
}